body{
    background-color: black;
}

section{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#sec1>h1{
    color: white;
    font-family: Inter, SansSerif;
    font-size: 5vw;

    position: absolute;
    left: 35vw;
    top: 30vh;
    margin: auto;
}

#sec1>img{
    width: 18%;
    
    rotate: 90deg;

    position: absolute;
    left: 40vw;
    top: 43vh;
    margin: auto;
}


#sec3>h1{
    color: white;
    font-family: Inter, SansSerif;
    font-size: 5vw;

    position: absolute;
    left: 39vw;
    top: 78vh;
    margin: auto;
}

#sec3>img{
    width: 18%;

    rotate: -90deg;

    position: absolute;
    left: 40vw;
    top: 43vh;
    margin: auto;
}



#sec2>img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#sec2>h1, h2{
    color: white;
}

#sec2>h1{
    width: 100vw;
    font-family: Inter, SansSerif;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 3px #99A3A8;
    padding-left: 1vw;

    position: absolute;
    top: 5vh;
    left: -1000px;
}

#sec2>h2{
    width: 100vw;
    font-family: Inter, SansSerif;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 3px #99A3A8;
    padding-left: 1vw;

    position: absolute;
    top: 25vh;
    right: -750px;
}

